h1{
    color: rgba(205, 222, 227, 0.904);
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}


/* For sticky search header
.a {
    background: linear-gradient(to right, rgb(173, 216, 230) , rgb(1, 38, 50));
    position: sticky;
    top: 0;
    width: 100%;
  } */

  